{% extends 'blog/templates/blog/base.html' %}

{% block content %}
  <h1>Мои задачи</h1>
  <p>Процент выполнения: {{ completion_percentage|floatformat:2 }}%</p>
  <a href="{% url 'task_create' %}" class="btn btn-primary">Создать новую задачу</a>
  
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.title }} - {{ task.get_status_display }} - {{ task.get_priority_display }}
        <a href="{% url 'task_update' task.pk %}">Редактировать</a>
        <a href="{% url 'task_delete' task.pk %}">Удалить</a>
      </li>
    {% empty %}
      <li>У вас пока нет задач.</li>
    {% endfor %}
  </ul>
{% endblock %}